# Ignore environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database
*.sqlite3
*.db

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/
*.DS_Store

# Virtual environments
myenv/

resumes/
